{% extends "base.html" %}

{% block content %}

    <h1>Specify the color, brightness, contrast, and sharpness</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h4>
            Image:
        </h4>
        <p>
            {{ form.image }}
        </p>

        <h4>
            Color:
        </h4>
        <p>
            {{ form.color }}
        </p>

        <h4>
            Brightness:
        </h4>
        <p>
            {{ form.brightness }}
        </p>

        <h4>
            Contrast:
        </h4>
        <p>
            {{ form.contrast }}
        </p>

        <h4>
            Sharpness:
        </h4>
        <p>
            {{ form.sharpness }}
        </p>

        <button type="submit" class="btn btn-dark mb-2">Submit</button>
    </form>
{% endblock %}